<p></p>
<div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white">About</div>
    <div class="card-body">
      <div>
        <h3>Infos:</h3>
        <ul class="list-group">
          <li class="list-group-item">Nom: <strong>{{infos.nom}}</strong> </li>
          <li class="list-group-item">Email: <strong>{{infos.email}}</strong></li>
          <li class="list-group-item">Tel: <strong>{{infos.tel}}</strong></li>
        </ul>
      </div>&nbsp;&nbsp;
      <div> 
         <div>
           <form #f="ngForm" (ngSubmit)="onAddCommentaire(f.value)">
              <div class="form-group">
                  <label class="control-label">Message:</label>&nbsp;
                  <input required="" name="message" ngModel type="text"
                    [(ngModel)]="commentaire.message">&nbsp;&nbsp;
                  <button [disabled]="!f.valid" type="submit" class="btn btn-primary">
                    Ajouter Commentaire</button>
                </div>
           </form>
         </div>
        <h3>Comments:</h3>
        <ul class="list-group-item">
         <li class="list-group-item" *ngFor="let c of comments">
            {{c.message}},
           <span class="badge">{{c.date | date:'dd-mm-yyyy:hh:mm:ss'}}</span>
         </li>
       </ul>
      </div>
    </div>
  </div> 
</div>
